service: <%= ENV['PROJECT_NAME'] %>-chess

image: <%= ENV['DOCKER_HUB_USERNAME'] %>/<%= ENV['PROJECT_NAME'] %>-chess

servers:
  web:
    - "<%= ENV['SERVER_IP'].strip %>"

ssh:
  user: root
<% if ENV['SSH_PRIVATE_KEY_FILE'] %>
  keys: ["<%= ENV['SSH_PRIVATE_KEY_FILE'] %>"]
<% end %>

registry:
  username: <%= ENV['DOCKER_HUB_USERNAME'] %>
  password:
    - DOCKER_HUB_TOKEN

builder:
  dockerfile: Dockerfile
  context: "."
  arch: amd64

proxy:
  ssl: true
  host: <%= ENV['HOST_NAME'] %>
  app_port: 8000
  healthcheck:
    path: /up

env:
  clear:
    POSTGRES_URL: postgresql://postgres:postgres@<%= ENV['PROJECT_NAME'] %>-chess-postgres:5432/postgres
    HOST_NAME: https://<%= ENV['HOST_NAME'] %>
    DEBUG: false

accessories:
  postgres:
    image: postgres:17-alpine
    host: "<%= ENV['SERVER_IP'].strip %>"
    port: "5432:5432"
    env:
      clear:
        POSTGRES_DB: postgres
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
    directories:
      - data:/var/lib/postgresql/data
